<!DOCTYPE html>
<html lang="en">
{{>includeHead}}
<body>
{{>includeMenu}}
<div class="container">
  <div class="jumbotron">
     <h3>This is Arithmetic Calculator.You can select from many calculators and conversion tools. </h3>
  </div>
  <img src="calc.jpg" class="img-responsive" width="3000"> 
</div>
{{>includeFoot}}
</body>
</html>
